* {
    border: 2px;
    /* border-style: solid; */
    border-color: green;
}

body {
    background-color: #EDEFEE;
    font-family: 'Open Sans', sans-serif;
    color: #222222;
    /* 5% --> It means 5% of the screen size */
    width: 60%;
    /* Set all items to the center */
    margin: 0 auto;
    margin-top: 1rem;

}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header {
    margin-bottom: 1%;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}

nav {
    background-color: #EDEFEE;
    text-align: center;
    padding: 1rem;
}

nav a {
    color: #222222;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
}

nav a:hover {
    border-bottom: 2px solid #222222;
}


nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
}

section {
    display: flex;
    
}

article {
    flex: 1;
    margin-top: 1rem;
    margin: 1rem;
    padding: 0rem 2rem 1rem 2rem;
    background-color: 000000;
    border-radius: 20px;
    border-width: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#promotion {
    background-image: url('../images/blackfriday.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
    /* flex: 1; */
    /* decrease brightness of background */
    /* filter: brightness(30%); */
    color: white;
}

#promotion div {
    display: flex;
    align-items: center;
    justify-self: center;
}

.card-img {
    width: 100%;
}

.card-button {
    background-color: #222222;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    position: relative;
    min-width: 100%;
}

.card-button a {
    color: white;
    text-decoration: none;
}

.card-button:hover {
    background-color: #EDEFEE;
    border: 2px solid #222222;
}

.card-button:hover a {
    color: #222222;
}










footer {
    display: flex;
    position: relative;
    background-color: #222222;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}

footer > div {
    flex: 1;
}

footer p {
    color: white;
    text-align-last: right;
    margin-right: 5%;
    font-size: 0.8rem;
}

footer img {
    height: 25px;
    margin-left: 5%;
}